---
apiVersion: v1
kind: ConfigMap
metadata:
  name: scripts
  namespace: disk-usage-monitor
data:
  nas01.sh: |
    ssh -F /tmp/ssh/config nas01 df /volume1 | tail -1 | awk '{ print $5 }' | tr -d %
  nas02.sh: |
    ssh -F /tmp/ssh/config nas02 df /mnt/nas02/critical | tail -1 | awk '{ print $5 }' | tr -d %
  seedbox.sh: |
    echo "$(ssh -F /tmp/ssh/config seedbox du -sh . | awk '{ print $1 }' | tr -d G) * 100 / 931.3" | bc
  update_hass.sh: |
    set -ex
    cp -rv /ssh /tmp/
    chmod -R 600 /tmp/ssh
    nas01=$(/bin/sh /opt/nas01.sh)
    [[ "${nas01}" == "" ]] && exit 1
    nas02=$(/bin/sh /opt/nas02.sh)
    [[ "${nas02}" == "" ]] && exit 1
    seedbox=$(/bin/sh /opt/seedbox.sh)
    [[ "${seedbox}" == "" ]] && exit 1
    curl -s -H "Authorization: Bearer ${TOKEN}" -H "Content-Type: application/json" \
      -d "{\"state\": \"${nas01}\", \"attributes\": {\"unit_of_measurement\": \"%\"}}" \
      "https://ass.crt.house/api/states/input_number.nas01"
    curl -s -H "Authorization: Bearer ${TOKEN}" -H "Content-Type: application/json" \
      -d "{\"state\": \"${nas02}\", \"attributes\": {\"unit_of_measurement\": \"%\"}}" \
      "https://ass.crt.house/api/states/input_number.nas02"
    curl -s -H "Authorization: Bearer ${TOKEN}" -H "Content-Type: application/json" \
      -d "{\"state\": \"${seedbox}\", \"attributes\": {\"unit_of_measurement\": \"%\"}}" \
      "https://ass.crt.house/api/states/input_number.seedbox"
    curl -s -H "Authorization: Bearer ${TOKEN}" -H "Content-Type: application/json" \
      -d "{\"state\": \"$(date '+%F %T')\"}" \
      "https://ass.crt.house/api/states/input_datetime.storage_last_update"

